body{
    margin: auto;
}
header>nav{
   background-color: rgb(248, 130, 130);
   width: 100%;
   display: inline-block;
   position: fixed;
   border: 2px solid red;
}
header>nav>h1{
    color: rgb(255, 255, 255);
    position: absolute;
    margin-bottom: 10%;
}
.locicon>a>img{
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 4%;
}
.locicon>a>img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.selecticon>select{
    float: left;
    margin-top: 4.5%;
    width: 60px;
    height: 30px;
    border-radius: 15%;
    background-color: red;
    color: aliceblue;
    
}
#orderagain{
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    display: inline-block;
    margin-top: 5%;
   margin-right: 10%;
   margin-left: 10%;
}
#orderagain>span{
    color: red;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    margin-top: 0%;
    margin-left: 1%;
    display:block
}
.box1{
    width: 250px ;
    height: 150px;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: red;
}
.box1:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.pic1>img{
    width: 150px;
    height: 150px;
    float: left;
}
.text1>a{
    width: 60px;
    margin-left: 2%;
    float: left;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.clock1>img{
    float: left;
    width: 40px;
    height: 40px;
    line-height: 2;
}
.timeduration{
   float: left;
   margin-top: 4%;
   margin-left: 1%;
}
.offers{
    float: left;
    font-size: 10px;
    font-weight: bold;
    margin-top: 1%;
    text-decoration: none;
}
.box2{
    width: 250px ;
    height: 150px;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(77, 77, 194);
}
.box2:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.pic2>img{
    width: 150px;
    height: 150px;
    float: left;
}
.text2{
    width: 60px;
    margin-left: 2%;
    margin-top: 2%;
    float: left;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.box3{
    width: 250px ;
    height: 150px;
    float: left;
    font-weight: bold;
    background-color: aqua;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.box3:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.pic3>img{
    width: 150px;
    height: 150px;
    float: left;
}
.text3{
    width: 60px;
    margin-left: 2%;
    margin-top: 2%;
    float: left;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.box4{
    width: 250px ;
    height: 150px;
    background-color: aquamarine;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.box4:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.pic4>img{
    width: 150px;
    height: 150px;
    float: left;
}
.text4{
    width: 60px;
    margin-left: 2%;
    margin-top: 2%;
    float: left;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.list{
    width: 80%;
    margin-left: 10%;
    margin-left: 10%;
}
.list>span{
    color: red;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-top: 0%;
    margin-left: 1%;
    float: left;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    float: left;
    margin-left: 30%;
    width: 52px;
    height: 26px;
}
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #50ef78;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #42e825;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .switch1 {
    position: relative;
    display: inline-block;
    margin-left: 0%;
    width: 52px;
    height: 26px;
  }
  
  /* Hide default HTML checkbox */
  .switch1 input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider1 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider1:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider1 {
    background-color: #f32121;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #f32121;
  }
  
  input:checked + .slider1:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider1.round {
    border-radius: 34px;
  }
  
  .slider1.round:before {
    border-radius: 50%;
  }

  .veg{
    float: left;
    color: #42e825;
  }
  .Nonveg{
    float: left;
    color: red;
    margin-left: 10%;
  }
  .menu{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid red;
  }
  .title1{
      font-size: 30px;
      margin: 0%;
      font-weight: bold;
      font-family: 'Times New Roman', Times, serif;
      font-style:inherit;
  }
 .bestseller>h5{
   width: 75px;
   height: 20px;
   color: white;
   background-color: red;
   border-radius: 8%;
   border: 2px solid red;
   float:left;
   margin-left: 0%;
   margin-top: 1.4%;
 }
 .prices{
   float: left;
   margin-top: 5%;
   margin-left: 0%;
   font-size: 30px;
 }
 .biryani>img{
   width: 300px;
   height: 200px;
   display: block;
   margin-left: 30%;
   margin-bottom: 3%;
   border: 2px solid black;
   background-color: red;
 }
 .increment>h5{
   width: 75px;
   height: 30px;
   border: 2px solid red;
   border-radius: 10%;
   display: block;
   font-size: 25px;
   color: aliceblue;
   background-color: red;
   margin-left: 40%;
   animation:increments 5s linear;
 }
@keyframes increments{
  0%{
    transform: matrix(1);
    background-color: aliceblue;
  }
}
 